<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint type="fixed" name="lidar_joint">
        <origin xyz="0.15 0 0.185" rpy="0 0 0"/>
        <child link="lidar_link"/>
        <parent link="chassis_link"/>
        <axis xyz="0 1 0"/>
    </joint>

    <gazebo reference="lidar_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
        
    <link name='lidar_link'>
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia
                ixx="1e-3" ixy="0" ixz="0"
                iyy="1e-3" iyz="0"
                izz="1e-3"
            />
        </inertial>
        <visual name='lidar_link_visual'>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename = "package://my_robot/meshes/lidar.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/> 
            <geometry>
                <cylinder radius="0.05" length="0.05"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="lidar_link">
        <sensor name="gpu_lidar" type="gpu_lidar">
            <pose relative_to="lidar_link"> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>scan</topic>
            <gz_frame_id>lidar_link</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>640</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                    <!-- <vertical>
                        <samples>16</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.261799</min_angle>
                        <max_angle>0.261799</max_angle>
                    </vertical> -->
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </lidar>
        </sensor>
    </gazebo>


    
</robot>